<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/cb06eac06f.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="/stylesheets/paypalGateway.css">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <title>PayPal Checkout</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.0/moment.min.js"></script>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/js/paypalGateway.js"></script>
    </head>
    <body>
        <div id="paymentForm">
            <div id="waitingIcon">
            </div>
            <h5 id="paymentWait">Waiting for payment</h5>
            <div id="description">
                <div class="invoice-box">
                    <table cellpadding="0" cellspacing="0"> 
                        
                        <tr class="heading">
                            <td>
                                Item
                            </td>
                            
                            <td>
                                Price
                            </td>
                        </tr>
                        
                        <tr class="item">
                            <td>
                                Recharge
                            </td>
                            
                            <td>
                                $<%=normalPrice%>
                            </td>
                        </tr>
                        
                        <tr class="item last">
                            <td>
                                Fee
                            </td>
                            <td>
                                $<%=totalPrice-normalPrice%>
                            </td>
                        </tr>
                        
                        <tr class="total">
                            <td></td>
                            
                            <td>
                               Total: $<%=totalPrice%>
                            </td>
                        </tr>
                    </table>
                </div>
                Please send exactly <b><%=totalPrice%> USD</b> to <b><%=email%></b>
                <div id="note">
                    <i class="fas fa-pencil-alt"></i> <b>Add the following note in your payment:</b>
                    <div><code><%=note%></code></div>
                    <hr>
                    <div id="refund">
                        <i class="fas fa-exclamation-triangle"></i> <b>Confirm after making payment.</b>
                    </div>
                    
                </div>
                <div id="form">
                    <form action="/success/<%=currentUser._id%>" method="POST">
                        <div class="input-group input-group-sm" id="paypalEmail">
                            <div class="input-group-prepend">
                              <div class="input-group-text" id="btnGroupAddon2"><i class="fab fa-paypal"></i></div>
                            </div>
                            <input type="email" class="form-control" name="paypalEmail" placeholder="Your PayPal Email ID" aria-label="Input group example" aria-describedby="btnGroupAddon2" required>
                            <input type="hidden" name="totalPrice" value="<%=totalPrice%>">
                            <input type="hidden" name="normalPrice" value="<%=normalPrice%>">
                          </div>
                        <button class="btn btn-primary btn-sm" type="submit" id="payButton">Confirm Payment & Proceed</button>
                    </form>
                </div>
                
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>