<%-include("./partials/headerFirst")%>
<title>Contact Us - Litecheats</title>
    <meta name="description" content="Litecheats will assist you in hacking any game like PUBG Mobile.Join our discord to get help or write an email to us at litecheatsofficial@gmail.com">
<%-include("./partials/headerSecond")%>
    <div class="container homeContainer">
        <div class="homeContainerLeft">
            <div class='right_contactus'>
                <h1 class='contactus_heading'>
                    Contact us
                  </h1>
                <div class='right_contactus_email left_contactus_item'>
                    
                    <div class='right_contactus_email_logo left_contactus_item_logo'>
                        <a href='mailto:litecheatsofficial@gmail.com'>
                            <i class="fas fa-envelope"></i>
                        </a>

                    </div>
                    <div class='right_contactus_email_desc left_contactus_item_desc'>
                        <div class='right_contactus_email_desc_title left_contactus_item_title'>
                            <a href='mailto:litecheatsofficial@gmail.com'>
                            E-mail
                            </a>

                        </div>
                        <div class='right_contactus_email_desc_text left_contactus_item_text'>
                            litecheatsofficial@gmail.com
                        </div>
                    </div>
                </div>
                <div class='right_contactus_form'>
                    <div class='right_contactus_form_heading'>
                        <h4>SEND MESSAGE</h4>
                    </div>
                    <div class='right_contactus_form_inputs'>
                        <form class='right_contactus_form_inputs_form' action="/send-message" method="POST">
                            <div class='right_contactus_form_inputs_name'>
                                <input class="glowing-border" type='text' name='fullname' size='40'
                                    aria-required='true' aria-invalid='false' placeholder='Name' />
                            </div>
                            <div class='right_contactus_form_inputs_emailnumber'>
                                <div class='right_contactus_form_inputs_email'>
                                    <input class="glowing-border" type='email' name='email' size='40'
                                        aria-required='true' aria-invalid='false' placeholder='E-mail' />
                                </div>
                                <div class='right_contactus_form_inputs_number'>
                                    <input type='tel' class="glowing-border" name='phonenumber' size='40'
                                        aria-required='true' aria-invalid='false' placeholder='Phone number' />
                                </div>
                            </div>
                            <div class='right_contactus_form_inputs_message'>
                                <textarea class="glowing-border" name='message' cols='40' row='10'
                                    aria-invalid='false' placeholder='Message'></textarea>
                            </div>
                            <div class='right_contactus_form_inputs_button'>
                                <button type='submit' class="grow_box">SEND MESSAGE</button>
                            </div>
                        </form>
                    </div>
                    <%if(error && error.length > 0){%>
                        <div class="alert alert-danger" id="errorBox" role="alert">
                            <h6>There was a problem</h6>
                            <i id="errIco" class="fas fa-exclamation-triangle"></i> 
                            <p id="err"><%= error %></p>
                        </div>
                    <%}%>
                    <%if(success && success.length > 0){%>
                        <div class="alert alert-success" id="successBox" role="alert">
                            <h6 class="headAlert">Done</h6>
                            <i id="sucIco" class="fas fa-check-circle"></i>
                            <p id="suc"><%= success %></p>
                        </div>
                    <%}%>
                    <% if((!error || error.length<=0) && (!success || success.length<=0)){%>
                        <hr id="hrbelowIm">
                    <% } %>
                </div>
            </div>
        </div>
     
    <%-include("./partials/footer")%>