<%-include("./partials/headerFirst")%>
    <title>Home - Litecheats</title>
    <meta name="description" content="<%=posts[0]?.bodyInText.substring(0,150)%>" >
    <meta property="og:title" content="Home - Litecheats" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.litecheats.org/home" />
    <meta property="og:image" content="<%=posts[0]?.mainImage%>" />
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta name="twitter:title" content="Home - Litecheats">
    <meta name="twitter:description" content="<%=posts[0]?.bodyInText.substring(0,150)%>">
    <meta name="twitter:image" content="<%=posts[0]?.mainImage%>">
    <meta name="twitter:card" content="summary_large_image">
<%-include("./partials/headerSecond")%>
    <div class="container homeContainer">
        <div class="homeContainerLeft">
            <div class="homeContainerLeft_blogPosts">
                <% posts.forEach((post)=>{ %>
                    <div class="homeContainerLeft_blogPosts_post">
                        <div class="homeContainerLeft_blogPosts_post_image">
                            <img src='<%= post.mainImage %>' alt="<%=post.title%>"/>
                        </div>
                        <div class="homeContainerLeft_blogPosts_post_text">
                            <div class="homeContainerLeft_blogPosts_post_text_tagdate">
                                <div class="homeContainerLeft_blogPosts_post_text_tag">

                                    <%= post.categories.title %>


                                </div>
                                <div class="homeContainerLeft_blogPosts_post_text_date">
                                    <%= dateString(post._createdAt) %>
                                </div>
                            </div>
                            <h2 class="homeContainerLeft_blogPosts_post_text_heading">
                                
                                <a href="/posts/<%=post.categories.slug.current%>/<%=post.slug.current%>">
                                    <i class="fas fa-link"></i>
                                    <%=post.title%>
                                    </a>
                            </h2>
                            <div class="homeContainerLeft_blogPosts_post_text_description">
                                <%- post.bodyInText%>...
                            </div>
                            <hr class="hrbelowIm">
                            <blockquote class="blockquote">
                                <footer class="blockquote-footer">by <cite title="Source Title">
                                        <%=post.author.name%>
                                    </cite> on <cite title="Source Title">
                                        <%=dateString(post._createdAt)%>
                                    </cite> in <cite title="Source Title"><a href="/search/<%= post.categories.title%>">
                                            <%=post.categories.title%>
                                        </a></cite></footer>
                            </blockquote>
                        </div>
                    </div>
                    <% }) %>

            </div>
        </div>
      
    <%-include("./partials/footer")%>